<% layout('layout/boilerplate') %>
    <h1>ALL CAMPGROUNDS</h1>
    <div>
        <a href="/campgrounds/new">Add New Campground</a>
    </div>
    
        <% for(let campground of campgrounds) { %>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                <img src="<%= campground.image %>" class="img-fluid rounded-start" alt="<%= campground.title %>">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= campground.title %></h5>
                        <p class="card-text"><%= campground.description%>...</p>
                        <p class="card-text">$<%= campground.price %> per night</p>
                        <p class = "card-text"><small class="text-muted"><%= campground.location %></small></p>
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View Details</a>
                    </div>
                </div>        
            </div>
        </div>            
        <% } %>
    
